body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  text-decoration: none;
}

.bg-gradient {
  background-image: linear-gradient(
      to right,
      rgba(252, 74, 26, 0.8),
      rgba(247, 183, 51, 0.8)
    ),
    url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
}

.pb-xl {
  padding-bottom: 7rem;
}

.header-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.header-divider img {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 91px;
  transform: rotateY(180deg);
}

footer {
  color: white;
  background-color: #212529;
  border-top: 0.33rem solid #ed8b00;
  margin-top: 8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer p {
  margin-bottom: 0;
}

footer a {
  color: white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
